@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Rubik+Gemstones&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



body {
    width: 100%;
}

.app {
    width: 100%;
    ;
    height: 100vh;
}

.main {
    width: 100%;
    display: flex;
    height: 100%;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
}



.Dashboard {
    height: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    transition: .4s;
    width: 20%;
    background: #3385FF;
}

.item-dashboard {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.top-logo {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 20px;

}

.top-logo h1 {
    cursor: pointer;
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
}

.item-dashboard ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-dashboard ul li {
    font-size: 1.4rem;
    padding: 10px;
    display: flex;
    height: 60px;
    gap: 10px;
    color: #fff;
    align-items: center;
    cursor: pointer;
}

.dashboard-arrow {
    position: absolute;
    top: 50px;
    right: -25px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(114, 114, 114, 0.252);
    aspect-ratio: 1/1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 100%;
}





/* main content  */
.main-content {
    display: flex;
    width: 80%;
    justify-content: center;
    transition: .4s;

}

.item-main-content {
    width: 95%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.item-main-content .left-mahalla {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}

.left-mahalla div {
    width: 100%;
    height: 36%;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 7px rgba(131, 131, 131, 0.068);
}

.rigth-mahalla {
    width: 50%;
    height: 100%;
    display: flex;
    padding-top: 70px;
}

.rigth-mahalla div {
    box-shadow: 0px 0px 7px rgba(131, 131, 131, 0.089);
    width: 100%;
    height: 60%;
    position: relative;
}

.top-title {
    position: absolute;
    top: -45px;
    height: 45px;
    width: 60%;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    font-weight: 300;
    border-radius: 0px 20px 0px 0px;
    background-color: #3385FF;
}

.DashProfil {
    width: 4%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(88, 88, 88, 0.136);
    overflow: hidden;
    transition: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.DashProfil img {
    width: 80%;
    height: 6.2%;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 100%;
}

.DashProfil i {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}