.signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    flex-direction: column;
}

.top-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10%;
}

.top-logo img {
    width: 15%;
    object-fit: cover;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup-inputs .title h3 {
    font-size: 2rem;
    color: blue;
    height: 20%;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.089);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 20px;
}

.inputs span {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.inputs span input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 10px;
    outline: none;
}

.inputs span input::placeholder {
    font-size: .9rem;
    color: rgb(169, 169, 169);
}

.inputs div {
    width: 80%;
}

.bottom-signup {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
}

.bottom-signup button {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: blue;
}

@media (max-width:1180px) {
    .signup {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0px;
    }

    .signup-inputs {
        width: 100%;
    }

    .inputs {
        width: 80%;
    }
    .top-logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .top-logo img {
        width: 40%;
        object-fit: cover;
    }
}

@media (max-width:570px){
    .signup {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0px;
    }

    .signup-inputs {
        width: 100%;
    }

    .inputs {
        width: 100%;
    }
    .top-logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .top-logo img {
        width: 50%;
        object-fit: cover;
    }
}