.mahalla-one {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.item-mahalla {
    overflow: scroll;
    width: 95%;
    height: 90vh;
    display: grid;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    grid-template-columns: 31% 31% 31%;
}

.item-mahalla::-webkit-scrollbar {
    display: none;
}

.card-mahalla-one {
    height: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid #4E6E81;
    color: #fff;
    align-items: center;
    background-color: #4E6E81;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    flex-direction: column;
}
.card-mahalla-one:hover{
    background-color: #fff;
    color: #4E6E81;
    transition: .3s;
}