::-webkit-scrollbar {
    width: 0px;
}

.statistika {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .4s;
}


.main-statistika {
    width: 100%;
    height: 100%;
    transition: .4s;
    overflow: scroll;
}

.item-statistika {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-chart {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.umumiy-ulush {
    width: 90%;
    height: 74%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.17);
    border-radius: 10px;
}


.right-chart {
    width: 70%;
    height: 100%;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    gap: 50px;
    overflow: scroll;
    box-shadow: 0px 0px 10px rgba(90, 90, 90, 0.17);
}


.chart1 {
    width: 100%;
    border-bottom: 2px solid rgba(77, 76, 76, 0.484);
    margin-top: 30px;
}

.top-title-chart {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.top-title-chart h3 {
    font-size: 1.3rem;
    color: rgb(0, 0, 88);
}






.top-title-diagramma {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.top-title-diagramma h3 {
    color: rgb(0, 0, 88);
    font-size: 2rem;
}

.top-title-diagramma select {
    width: 25%;
    /* height: 100%; */
    font-size: 1.1rem;
    color: rgb(0, 0, 88);
    border: none;
    outline: none;
    cursor: pointer;

}

.bottom-information-diagramma {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.bottom-information-diagramma ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-information-diagramma ul li {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-information-diagramma ul li div {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 100%;
}

.bottom-information-diagramma ul li span {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
}

.bottom-information-diagramma ul li p {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
}