.QoshimchaStat {
    width: 100%;
    /* border: 1px solid black; */
    height: 25vh;
    display: flex;
    justify-content: center;
}

.item-qoshimcha {
    width: 95%;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.item-qoshimcha .card-stat {
    width: 32%;
    height: 100%;
    background-color: #2E3840;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: aliceblue;
    transition: .3s;
    cursor: pointer;
    justify-content: center;
}

.item-qoshimcha .card-stat:hover {
    border: 1px solid #2E3840;
    background-color: inherit;
    color: #2E3840;
    transition: .3s;
}