.statistika-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.statistika-container::-webkit-scrollbar {
    display: none;
}

.item-statistika {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: auto;
    margin: 20px;
}





.qoshimcha-statistika {
    width: 100%;
    height: auto;
}

.QoshimchaStat {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.item-qoshimcha {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}

.item-qoshimcha .card-stat {
    width: 100%;
    height: 100%;
    background-color: #4E6E81;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
    transition: .3s;
    border: 2px solid #4E6E81;
    cursor: pointer;
    justify-content: center;
}

.item-qoshimcha .card-stat:hover {
    background-color: #fff;
    color: #4E6E81;
    transition: .3s;
}